<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="$description$">
    <meta name="author" content="$author$">
<!--    <link rel="icon" href="../../favicon.ico">-->

    <title>Morten Unlooping.dk - $title$</title>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="/">Home</a>
          <a class="blog-nav-item" href="/projects.html">Projects</a>
          <a class="blog-nav-item" href="/wanttoread.html">Want To Read</a>
          <a class="blog-nav-item" href="/challenge.html">Challenge</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Morten Unlooping.dk</h1>
        <p class="lead blog-description">A blog / scribbleboard about my interests.</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">$title$</h2>

	    $body$
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="/archive.html">Archives</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Morten Frølich</h4>
            <p>I'm a programmer at <a href="http://www.edlund.dk">Edlund A/S</a>. I live in Nærum with my wife Laura and my two kids Amanda and Anton.</p>
	    <p>This is my personal blog / scribbleboard where (when time permits it) I scribble about my various interests.</p>
          </div>
          <div class="sidebar-module">
	  <a href="/challenge.html">
	    <img src="/images/kanjidamagestatus.png" height="180" width="240"/>
	  </a>
	  </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              $partial("templates/post-list.html")$
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://www.github.com/mortenfroelich">GitHub</a></li>
              <li><a href="http://lang-8.com/1247784">Lang-8</a></li>
              <li><a href="http://www.facebook.com/morten.froelich">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Site powered by
        <a href="http://jaspervdj.be/hakyll">Hakyll</a>, <a href="http://getbootstrap">Bootstrap</a>, and <a href="http://www.bootstrapcdn.com/">Bootstrapcdn</a></p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
